{% extends 'website/layout.html' %}

{% block jumbotron %}
<div class="jumbotron">
    <h1 class="display-4">Autómatos Finitos Determinísticos</h1>
</div>
{% endblock %}

{% block main %}
<main class="container text-justify">
    <a href="{% url 'website:novoAutomato' %}" class="btn btn-success btn-sm btn-block">
        Crie um Autómato Finito Determinístico
    </a>
    <p style="margin-top: 20px;">Apresentam-se em baixo os autómatos finitos determinísticos que foram criados.</p>
    <table align="center" class="table" style="table-layout: fixed; width:900px;">
        <tr>
            <th class="text-center" style="width:400px;">Diagrama de Estados</th>
            <th class="text-center" style="width:500px;">Descrição</th>
        </tr>
        {% load static %}
        {% for automato in automatosFinitos %}
        <tr class="text-left">
            <td style="vertical-align: middle; width: 400px;">
                <a href="{% url 'website:detalhesAutomato' automato.id %}">
                    <img src="{% static automato.diagrama %}" width="80%">
                </a>
            </td>
            <td style="vertical-align: middle; width:500px;">
                <p>{{ automato.descricao }}</p>
                <p>
                    <div class="row">
                        <a href="{% url 'website:detalhesAutomato' automato.id %}" class="btn btn-info btn-sm col-sm" style="margin: 5px;">
                            Detalhes
                        </a>
                        <a href="{% url 'website:detalhesAutomato' automato.id %}" class="btn btn-success btn-sm col-sm" style="margin: 5px;">
                            Validar Sequência
                        </a>
                    </div>
                    <div class="row">
                        <a href="{% url 'website:editarAutomato' automato.id %}" class="btn btn-warning btn-sm col-sm" style="margin: 5px;">
                            Editar
                        </a>
                        <a href="{% url 'website:apagarAutomato' automato.id %}" class="btn btn-danger btn-sm col-sm" style="margin: 5px;">
                            Apagar
                        </a>
                    </div>
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}