{% extends 'website/layout.html' %}

{% block jumbotron %}
<div class="jumbotron">
    <h1 class="display-4" style="font-size: 3vw;">Detalhes da Máquina de Turing</h1>
</div>
{% endblock %}

{% block main %}
<main class="container text-justify">
    <h3>{{ maquina.nome|title }}</h3>
    <p>{{ maquina.descricao }}.</p>
    <table align="center">
        <tr align="left">
            <td>
                <p><b>Quíntuplo da máquina de turing:</b></p>
                <ul>
                    <li>Alfabeto: {{ maquina.printAlfabeto }} </li>
                    <li>Estados: {{ maquina.printEstados }}</li>
                    <li>Estado inicial: {{ maquina.estadoInicial }}</li>
                    <li>Estados de aceitação: {{ maquina.printEstadosAceitacao }}</li>
                    <li>Tabela de transições:
                        <table align="center" rules="all" style="border-collapse: collapse">
                            {% for dicTransicoes in maquina.printDicTransicoes %}
                                <tr>
                                    {% for element in dicTransicoes %}
                                        {% if forloop.parentloop.first %}
                                            <th>{{ element }}</th>
                                        {% elif forloop.first %}
                                            <th>{{ element }}</th>
                                        {% else %}
                                            <td>{{ element }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </li>
                </ul>
            </td>
            <td class="align-baseline">
                {% load static %}
                <img src="{% static maquina.diagrama %}" style="max-width: 100%; height: auto;">
                <p class="text-center">Diagrama de transições.</p>
            </td>
        </tr>
    </table>
    <p><b>Validador:</b> Insira uma sequência e verifique se pertence à linguagem que a máquina de turing reconhece: </p>
    <div class="row">
        <div class="col-sm">
            <form action="{% url 'website:detalhesMaquina' maquina.id %}" method="POST">
                {% csrf_token %}
                <b>{{ form }}</b>
                <p><input type="submit" value="Validar" class="btn btn-success" style="margin-top: 10px;"></p>
            </form>
            {% if resultado != None %}
                {% if resultado == True %}
                    <p>A sequência <b>{{ sequencia }}</b> é aceite pela máquina de turing.</p>
                {% else %}
                    <p>A sequência <b>{{ sequencia }}</b> não é aceite pela máquina de turing.</p>
                {% endif %}
            {% else %}
                <p></p>
            {% endif %}
        </div>
        <div class="col-sm">
            <p>Sequência Final: 
                {% if resultado != None %}
                    {% if resultado == True %}
                        <p><b>{{ maquina.sequenciaFinal }}</b></p>
                    {% endif %}
                {% endif %}
                <p>O símbolo "@" corresponde a delta.</p>
            </p>
        </div>
    </div>
</main>
{% endblock %}